
.title{
    background-color: rgb(235, 235, 235);
    max-width: 100%;
    padding: 30px;
}

h1 {
    text-align: center;
}

button {
    width: 100%;    
    height: 42%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(255, 255, 255);
    font-size: 28px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4e4e4e;
}

.mario {
    background-image: url(/games-javascript/images/wallpaper-mario.jpg);

}

.watchmen {
    background-image: url(/games-javascript/images/watchmen/wallpaper.jpg); 
}