@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #87CEEB;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;;
    background-color: rgb(235, 235, 235);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0 0 30px;
    border-radius: 5px;
}

button {
    width: 100px;
    height: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'press start 2p', cursive;
}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 30px solid #14962c;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 2s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds{
    position: absolute;
    width: 600px;
    animation: clouds-animation 10s infinite linear;

}

@keyframes clouds-animation {
    from {
        right: -600px;
    }

    to {
        right: 100%;
    }
}

@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 180px;
    }
    60% {
        bottom: 180px;
    }
    100% {
        bottom: 0;
    }
}